---
import PageLayout from "../../layouts/page.layout.astro";
// import BlogList from "../../components/BlogList.astro";
---

<PageLayout>
  <div>
    <p>
      Welcome to my Cybersecurity Homelab. This is a series of blogs in which I
      document creating a homelab to practice offensive and defensive security.
    </p>
  </div>
  <!-- <BlogList enableYear={true} lang={"fr"} /> -->
</PageLayout>
