---
import PageLayout from "../../layouts/page.layout.astro";
// import BlogList from "../../components/BlogList.astro";
---

<PageLayout>
  <div>
    <p>
      Bienvenue dans mon Homelab sur la cybersécurité. Il s'agit d'une série de
      blogs dans lesquels je dans lesquels je documente la création d'un homelab
      pour pratiquer la sécurité offensive et défensive.
    </p>
  </div>
  <!-- <BlogList enableYear={true} lang={"fr"} /> -->
</PageLayout>
