---
import PageLayout from "../layouts/page.layout.astro";
---

<PageLayout>
  <h3>Certifications & Studies</h3>
  <p>
    <ul>
      <li>
        <strong>2025</strong> : Technicien Supérieur Systèmes et Réseaux (ongoing)
      </li>
      <li>
        <strong>2025</strong> : Google Professional Certificate in Cybersecurity
      </li>
    </ul>
  </p>
  <h3>Éxpériences professionnelles</h3>
  <p>
    <ul>
      <li>
        <strong>2024</strong> : Full-Stack Developer React Native (Stage)
      </li>
      <li>
        <strong>2009 - 2023</strong> : Freelance WordPress Developer
      </li>
    </ul>
  </p>
</PageLayout>
