---
import PageLayout from "../layouts/page.layout.astro";
import BlogList from "../components/BlogList.astro";
---

<PageLayout>
  <h2>Bonjour 👋</h2>
  <p>
    Je suis Nyukeit. Je suis un aspirant professionnel de la cybersécurité avec une expérience en codage et en développement, principalement dans le domaine du Javascript/Typescript et de WordPress.
  </p>
  <p>
    La sécurité en ligne est une grande passion pour moi, avec les méga corporations qui en savent tellement sur nous en tant qu'individus et qui suivent tout ce que nous faisons, apprendre comment rester en sécurité en ligne est devenu une partie intégrante de la vie quotidienne.
  </p>
  <p>
    Avec la naissance de mes enfants, j'ai accru mon intérêt et mon apprentissage du monde de la cybersécurité dans le but de comprendre comment ils utiliseront les appareils numériques à l'avenir et comment les protéger au mieux contre les dommages et le stress non désirés.
  </p>
  <p>
    J'aime partager avec le monde ce que je comprends grâce à mes connaissances, mais j'ai longtemps été paresseuse et occupée à écrire des articles longs, mais je souhaite changer cela. Mon objectif est de mettre les connaissances en matière de cybersécurité à la disposition des gens ordinaires afin qu'ils puissent commencer à penser à la sécurité avant de partager tous leurs détails et leur vie en ligne.
  </p>
  <p>
    Lorsque je ne pense pas à la sécurité, je me demande souvent quelle partie du monde je vais visiter ensuite et je regarde le ciel pour m'émerveiller des merveilles de l'espace extra-atmosphérique.
  </p>
  <!-- recent blog posts -->
  <div>
    <h3>Derniers articles du blog</h3>
    <BlogList enableYear={false} lang={"fr"} />
  </div>
</PageLayout>
