---
import PageLayout from "../layouts/page.layout.astro";
import BlogList from "../components/BlogList.astro";
---

<PageLayout>
  <div id="home-blog-list">
    <BlogList enableYear={false} />
  </div>
</PageLayout>
