---
import NavBar from '../components/NavBar.astro';
import '../styles/global.css';
const url = Astro.url;
let lang;
url.pathname.includes("en") ? (lang = "en") : (lang = "fr");
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="description" content={lang === "en" ? "Nyukeit's blog and home on the internet" : "Le blog de Nyukeit et son site internet"} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Développeur WordPress, Full-Stack & DevOps | Nyukeit</title>
	</head>
  <body>
		<NavBar />
		<main>
			<slot />
		</main>
  </body>
</html>