---
import NavBar from '../components/NavBar.astro';
import '../styles/global.css';
const url = Astro.url;
// let lang;
// url.pathname.includes("en") ? (lang = "en") : (lang = "fr");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="description" content="All things Sysadmin & cybersecurity" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Sysadmin & Cybersecurity Blog | 0tszz0</title>
	</head>
  <body>
		<NavBar />
		<main>
			<slot />
		</main>
  </body>
</html>
